body{
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  margin: 0;
  text-align: center;
}

header {
  top: 0;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  position:fixed;
  background-color: black;
  z-index: 1;
}

.logo {
  padding: 10px 0 0 10px;
  height: 50px;
}

  header nav {
    width: 85%;
    text-align: right;
    display: inline-block;
    margin-top: 15px;
}
  header .blink{
    display:inline-block;
    padding: 0 15px 0 15px;
  }

 nav a {
   color: seashell;
 }

 /* Mission Area*/

.top{
  margin-top: 70px;
}

 .miss{
   height: 700px;
   width: 1200px;
   background: url(../images/img-mission-background.jpg) no-repeat center center;
   display:flex;
   align-items: center;
 }

 .verbage{
   background-color: black;
   width: 100%;
 }

 /* TotM Area */

 div .mid{
   display: block;
   font-family: Helvetica;
   flex-wrap: wrap;
 }

 .mid h2{
   margin: 85px 0 0 0;
 }

.teacont{
  width: 1000px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 0 200px;
}

.totm{
  text-align: center;
  margin-right: 25px;
}

.timage{
  display: inline-block;
  width: 300px;
  height: 200px;
}

.ttype{
  display: block;
  text-align: center;
  margin-top: 10px;
/*padding-top: 10px;*/

}
